$default_font: "Poppins", sans-serif;

$bg_gradient_color-1: #825fff;
$bg_gradient_color-2: #f6d8ff;
$box-shadow_color: #f8e0ff;
$text_color: #333333;
$white_color: #ffffff;
$black_color: #000000;
$path_color: #f8e0ff;